/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
======================================== */


/* 1. Global Styles
======================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    background-color: hsla(0, 0, 93, 1);
}

html {
    font-size: 16px;
    font-family: 'Wagon';
    font-weight:normal;
    font-style:normal;
}

body {
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    background-color: #EEE;
}

h1 {
    font-size: 9.375rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

h4 {
    font-size: 1.25rem;
}

.btn {
    width: 17.5rem;
    height: 5.3125rem;
    border-radius: 3.125rem;
    border: none;
    color: hsla(217, 10, 25, 1);
    font-family: 'Wagon';
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;  
    
    background: linear-gradient(to right, #14B830 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
}

.btn:hover {
    cursor: pointer;
    background-position: left bottom;
}

.active {
    background-color: #14B830;
}

@media only screen and (max-width: 480px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 30rem;
    }

    h1 {
        font-size: 5rem;
    }

}

/* 2. Typography Styles
======================================== */

@font-face {
    font-family: 'DX Sitrus';
    src: url('./Utilities/main_title_webfontkit/dxsitrus-expanded.woff2') format('woff2'),
         url('./Utilities/main_title_webfontkit/dxsitrus-expanded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Wagon Bold';
    src: url('./Utilities/portfolio_font_webkit/wagon-bold.woff2') format('woff2'),
         url('./Utilities/portfolio_font_webkit/wagon-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'Wagon Extra Light';
    src: url('./Utilities/portfolio_font_webkit/wagon-extralight.woff2') format('woff2'),
         url('./Utilities/portfolio_font_webkit/wagon-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'Wagon Extra Light Italic';
    src: url('./Utilities/portfolio_font_webkit/wagon-extralightitalic.woff2') format('woff2'),
         url('./Utilities/portfolio_font_webkit/wagon-extralightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




/* 3. Structure Styles
======================================== */


/* 4. Module Styles
======================================== */

/* Site Navigation */

header { 
	width:100%;
	height:auto;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul {
    width: 100%;
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}
.main_title { 
	color: hsla(216, 2, 8, 1);
	width:auto;
	height:11.25rem;
    margin: 12.0625rem auto;
	font-family: 'DX Sitrus';
	text-align:center;
	letter-spacing:-5.5;

}
nav { 
	width:100%;
	height:85px;
	position:absolute;
	left:18px;
	top:459px;
}

#nav {
    display: flex;
}

.side-menu {
    display: none;
}

.hamb {
    display: none;
}

.hamb-line {
    display: none;
}


.version { 
	width:100%;
	height: auto;
	position:absolute;
	left: 92.5%;
	top:0rem;
}

.folio { 
	color: hsla(216, 2, 8, 1);
	width:70px;
	height:18px;
	position:absolute;
	left:20px;
	top:30px;
	font-family:Wagon;
	text-align:center;
	font-size:16px;
}

/* @media only screen and (max-width: 480px){

    header {
        display: flex;
        background-color: hsla(216, 2, 8, 1);
        box-shadow: 1px 1px 5px 0px hsla(217, 10, 25, 1);
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    .main_title {
        display: inline-flex;
        color: hsla(216, 2, 8, 1);
        font-size: 3.75rem;
        margin-left: .635rem;
    }

    .version {
        display: none;
    }

    .message {
        display: none;
    }

    nav { 
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: black;
        overflow: hidden;
    }

    .menu a{
        display: flex;
        padding: 2rem;
        color: #EEE;
    }
    .menu a:hover{
        background-color: #14B830;
    }

    #nav{
        max-height: 0;
        transition: max-height .5s ease-out;
    }

    .side-menu {
        display: none;
    }
    
    .hamb {
        cursor: pointer;
        float: right;
        padding: 2.5rem 1.25rem;
    }
    
    .hamb-line {
        background: #EEE;
        display: flex;
        height: .125rem;
        position: relative;
        width: 1.5rem;
    }

.hamb-line::before,
.hamb-line::after{
    background: #EEE;
    content: '';
    display: flex;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: .25rem;
}
.hamb-line::after{
    top: -.25rem;
}

.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

footer {
    display: none;
}
    
} */

/* Site Footer */

footer {
    display: inline flex;
    flex-direction: row;
    justify-items: flex-end;
    position: relative;
    bottom: 0rem;
    width: 100%;
    margin: 1rem 2.5rem .625rem 90%;
}

/* 5. Component Styles
======================================== */

.message { 
	width:313px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
}

.message_txt { 
	color: hsla(216, 2, 8, 1);
	width:237px;
	height:36px;
	position:absolute;
	left:59px;
	top:27px;
	font-family: 'Wagon';
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.radar { 
	width:31px;
	height:31px;
	position:absolute;
	left:1rem;
	top: 1.875rem;
}

main { 
    display: inline-flex;
	width:100%;
	height:auto;
	position:relative;
}
.key { 
    margin-top: 4.625rem;
    margin-left: 8.625rem;
}

.dagger { 
    margin-top: 4.625rem;
    margin-left: auto;
    margin-right: 8.625rem;
}

figure {
    display: inline-flex;
    flex-direction: column;
    width: 13.5rem;
    padding: 1rem;
    align-items: center;	
    text-align: center;
}

figure img {
    margin-bottom: .625rem;
}

figcaption { 
	color:rgba(18.72656174004078, 19.045313335955143, 19.523439779877663, 1);
    width: 13.5rem;
    margin-top: .625rem;
}

.landing_content { 
    display: flex;
    position: relative;
    background-image: url(./Images/Landing_Image.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30rem 100%;
	width: 100%;
	height: 25rem;
    bottom: 4rem;
}

@media only screen and (max-width: 480px){
    .landing_content {
        display: none;
    }

    figure {
        display: none;
    }

}